body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.main {
  max-width: 960px;
  margin: auto;
  padding-top: 50px;
}

.header-inner {
  text-align: center;
  h4, h6 {
    font-weight: 300;
  }
}