.gramophone {
  box-sizing: border-box;
  width: 30%;
  float: left;
  position: relative;
  padding:30px;
  background-image: url('../assets/images/gramophone_bg.jpg');
  border-radius:10px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(100, 100, 100, .6);
  &:first-child~& {
    margin-left:5%;
  }
  .fa {
    cursor: pointer;
    &:first-child {
      margin-right: 10px;
    }
  }
  &.record-on {
    .play {
      animation-play-state: running;
    }
    .arm {
      @include rotate(20deg);
    }
    .fa-play {
      color: #00E676;
    }
  }
  
  .lp-container{
    position:relative;
    background-color:#fafafa;
    padding:20px;
    margin-top:50px;
    overflow:hidden;
    border:1px solid #d6d6d6;
    border-radius:5%;
    box-shadow:1px 1px 10px rgba(189,189,189, .3);
  }

  .arm {
    transform-origin: 10px 10px;
    position:absolute;
    right:2%;
    top:20px;
    transition:all 1s ease-out;
    height: 45%;
    -webkit-filter: drop-shadow(4px 7px 10px rgba(0,0,0,1));
  }

  .title {
    text-align:center;
    font-weight:bold;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding:10px 0;
    border-top:1px solid #d6d6d6;
  }
  
  .track-info {
    margin-bottom: 10px;
  }
  
}

.lp {
	max-width:100%;
	margin-bottom:50px;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
  background-color: #E0E0E0;
}

.play {
	animation: rotate 2.5s linear infinite;
	animation-play-state: paused; 
}
    
@keyframes rotate {
  100% {
    @include rotate(360deg);
  }	
}

@-webkit-keyframes rotate {
  100% {
    @include rotate(360deg);
  }	
}